*.swp
*.swo
priv_notes.txt
node_modules
cards
backend/config/releases.exs
*~
backend/config/prod.secret.exs
vagrant/.vagrant
backend/MnesiaCore*
frontend/src/cardDB/ALeP*
frontend/public/lotrlcg-cards/
frontend/public/cardDb.json
backend/priv/cardDb.json
/frontend/public/mc-cards
